@model JRSystem.Models.Application

@{
    ViewData["Title"] = "Apply A Referral";
}

<h1 style="display: flex; justify-content: center; align-items: center;">@ViewData["Title"]</h1>

@*<h4>Application</h4>*@
<hr />
<div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplierId" class="control-label"></label>
                <input asp-for="ApplierId" class="form-control" />
                <span asp-validation-for="ApplierId" class="text-danger"></span>
            </div>
            <div class="form-group" > 
                <label asp-for="ReferralId" class="control-label"></label>
                <input asp-for="ReferralId" class="form-control" />
                <span asp-validation-for="ReferralId" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 20px">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
            <div style="margin-top: 10px">
                <a asp-action="Index">Back to Applications Lists</a>
            </div>

        </form>
    </div>
</div>


